doctype html

include mixins.pug

html
	title Overleaf Read-Only Access
	link(rel='stylesheet', href='/main.css')

body.content-alt
	.container(style="margin-top: 12px")
		.row
				.col-md-10.col-md-offset-1
						.card Overleaf is in read only mode while we perform planned maintenance.
	block content
