doctype html
html
	title ShareLaTeX Read-Only Access
	link(rel='stylesheet', href='/main.css')

body.content-alt
	.container(style="margin-top: 12px")
		.row
				.col-md-10.col-md-offset-1
						.card ShareLaTeX is currently experiencing network problems or emergency maintenance. You can log in and download a read-only copy of your projects below while we work to bring the site back. Sorry for the trouble.
	block content