extends ./layout

block content
	.container
		.row-spaced
		.row
			.col-md-6.col-md-offset-3
				.card
					p
						| We have sent you an email with a link that will log
						| you into Overleaf's read only maintenance site, so
						| you can download your projects. Please check your
						| inbox and spam folder.
